body {
    background: rgba(50, 175, 255, 1);
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

#main {
    width: 580px;
    margin: auto;
    margin-top: 0px;
    height: 500px;
    text-align: left;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
    overflow: scroll;
}

#chats {
    height: 50px;
    font-size: normal;
    padding: 10px;
    width: 600px;
    height: 50px;
    vertical-align: text-top;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
    font-family: 'Nunito', sans-serif;
}

#send {
    border: none;
    background: rgba(205, 50, 50, 1);
    border-radius: 10px;
    height: 50px;
    font-weight: bold;
    margin: 18px 0px 0px 530px;
    font-family: 'Nunito', sans-serif;
}

/* deleted #main before h1 */
h1 {
    margin-top: -25px;
    font-size: 75px;
    margin-bottom: -25px;
    padding: 5px;
    font-family: 'Indie Flower', cursive;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    text-decoration: underline;
}

